@charset "UTF-8";

/* COMMON */
html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: #181818;
}
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
section {
  padding: 100px 0;
}
h1, h2, h3 {
  font-family: 'Wemakeprice-Bold';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}
h3 {
  font-size: 2rem;
  margin: 20px 0;
}
strong {
  font-weight: bold;
}
/* COMMON */

/* HEADER */
#header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
#header nav {}
#header nav  .nav-btn {
  display: block;
  float: right;
  margin-top: 50px;
  border: none;
  background: transparent;
}
#header nav  .nav-btn span{
  display: block;
  width: 40px;
  height: 5px;
  background: #FFF;
  border-radius: 3px;
  transition: transform .4s, width .4s;
  position: relative;
  margin: 8.4px auto;
}
#header nav  .nav-btn span:nth-child(1) {
  transform-origin: left center;
  top: 0;
}
#header nav  .nav-btn span:nth-child(2) {}
#header nav  .nav-btn span:nth-child(3) {
  transform-origin: bottom left;
}
#header nav  .nav-btn.on {}
#header nav  .nav-btn.on span {}
#header nav  .nav-btn.on span:nth-child(1) {
  transform: translateX(6px) rotate(45deg);
}
#header nav  .nav-btn.on span:nth-child(2) {
  width: 0;
}
#header nav  .nav-btn.on span:nth-child(3) {
  transform: translateX(8px) rotate(-45deg);
}
#header nav .navi {
  position: fixed;
  width: 60%;
  height: 100%;
  top: 0;
  left: -100%;
  background: #FFF;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 8%;
  transition: 1s;
}
#header nav .navi ul li {}
#header nav .navi ul li a {
  display: block;
  width: 12rem;
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: bold;
  padding: 10px;
}
#header nav .navi ul li a:hover {
  color: #342DDF;
}
#header nav .navi ul li a span {
  display: block;
  width: 0%;
  height: 0.4rem;
  background: #342DDF;
  margin-top: 10px;
  transition: 0.6s;
}
#header nav .navi ul li a:hover span {
  width: 100%;
}

/* HEADER */

/* MAIN */
#main {
  padding: 0;
  width: 100%;
  height: 800px;
  overflow: hidden;
  background: center / cover no-repeat url(../images/background.jpg);
}
#main .pop {
  width: 500px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  background: #FFF;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: .3s;
}
#main .pop .pop-close {
  position: absolute;
  top: 10px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 20px;
}
#main .pop .pop-txt {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}
#main .pop .pop-txt p {
  margin: 18px 0;
  letter-spacing: -1px;
}
#main .container {
  height: 100%;
}
#main .main-txt {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
}
#main .main-txt p {
  margin: 20px 0;
  font-size: 2rem;
}
/* MAIN */

/* INTRO */
#intro {}
#intro h2 {
  color: #342DDF;
}
#intro .swiper-container {}
#intro .swiper-container .intro-cont {}
#intro .swiper-container .intro-cont .cont-img {
  height: 300px;
  background: #AAA;
}
#intro .swiper-container .intro-cont:nth-child(1) .cont-img {
  background: center / cover no-repeat url(../images/intro-self.jpg);
}
#intro .swiper-container .intro-cont:nth-child(2) .cont-img {
  background: center right / cover no-repeat url(../images/intro-tmon.jpg);
}
#intro .swiper-container .intro-cont:nth-child(3) .cont-img {
  background: center / cover no-repeat url(../images/intro-academy.jpg);
}
#intro .swiper-container .intro-cont .cont-txt {
  text-align: right;
}
#intro .swiper-container .intro-cont .cont-txt h3 {
  color: #342DDF;
  margin: 20px 0;
}
#intro .swiper-container .intro-cont .cont-txt p {}
#intro .swiper-container .slide-btn {
  top: 40%;
  color: #342DDF;
}
#intro .swiper-container .slide-btn:before {
  font-family : xeicon;
  content: "\e930";
  font-size: 50px;
  transform: rotate(90deg);
}
#intro .swiper-container .slide-btn.swiper-button-prev:before {
  transform: rotate(270deg);
}
#intro .swiper-container .slide-btn:after {
  content: "";
}
/* INTRO */

/* ABOUT ME */
#about {
  background: #342DDF;
}
#about h2 {
  color: #FFF;
}
#about .about-wrap {
  display: flex;
}
#about .about-wrap .about-cont {
  flex: 1 1 40%;
  height: 15rem;
  position: relative;
}
#about .about-wrap .about-cont:nth-child(2){
  margin: 0 30px;
}
#about .about-wrap .about-cont > div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px
}
#about .about-wrap .about-cont .cont-front {
  transform: rotateY(0deg);
  z-index: 20;
}
#about .about-wrap .about-cont .cont-back {
  transform: rotateY(-180deg);
  z-index: 10;
}
#about .about-wrap .about-cont:hover .cont-front {
  transform: rotateY(180deg);
  z-index: 10;
}
#about .about-wrap .about-cont:hover .cont-back {
  transform: rotateY(0deg);
  z-index: 20;
}
#about .about-wrap .about-cont .cont-front h4 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #342DDF;
}
#about .about-wrap .about-cont .cont-back i {
  font-size: 1.5rem;
}
#about .about-wrap .about-cont .cont-back p {
  line-height: 1.5rem;
  font-size: .8rem;
}
/* ABOUT ME */

/* PORTFOLIO */
#pofol {}
#pofol h2 {
  color: #342DDF;
}
#pofol .pofol-wrap {}
#pofol .pofol-wrap .pofol-cont {}
#pofol .pofol-wrap .pofol-cont.cd,
#pofol .pofol-wrap .pofol-cont.sd {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
#pofol .pofol-wrap .pofol-cont .cont-img {
  width: 50%;
  height: 300px;
  background: #AAA;
}
#pofol .pofol-wrap .pofol-cont.cd .cont-img {
  background: center / cover no-repeat url(../images/tmon.jpg);
}
#pofol .pofol-wrap .pofol-cont.sd .cont-img {
  background: center / cover no-repeat url(../images/study.jpg);
}
#pofol .pofol-wrap .pofol-cont .cont-txt {
  width: 50%;
  padding-left: 50px;
}
#pofol .pofol-wrap .pofol-cont .cont-txt p {
  margin: 10px 0;
}
#pofol .pofol-wrap .pofol-cont .cont-txt a {
  display: block;
  width: 8rem;
  padding: 10px 0;
  text-align: center;
  color: #342DDF;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 1rem 0;
  border: 2px solid #342DDF;
}
#pofol .pofol-wrap .pofol-cont .cont-txt a:hover {
  background: #342DDF;
  color: #fff;
}
#pofol .pofol-wrap .pofol-cont.lc {
  display: block
}
#pofol .pofol-wrap .pofol-cont.lc .cont-txt {
  width: 100%;
  padding: 0;
}
#pofol .pofol-wrap .pofol-cont.lc .cont-slide {
  margin: 50px 0;
}
#pofol .pofol-wrap .pofol-cont.lc .cont-slide .cont-slide-img {
  /* height: 200px; */
  background: #AAA;
}
#pofol .pofol-wrap .pofol-cont.lc .cont-slide .cont-slide-img img {
  width: 100%;
  display: block;
}
#pofol .pofol-wrap .pofol-cont.lc .pofol-dot span {
  width: 12px;
  height: 12px;
  margin: 0 6px;
}
#pofol .pofol-wrap .pofol-cont.lc .pofol-dot span.swiper-pagination-bullet-active {
  background: #342DDF;
}

/* PORTFOLIO */

/* CONTACT */
#contact {
  background: #050E28;
}
#contact h2 {
  color: #FFF;
}
#contact .contact-wrap {
  display: flex;
  justify-content: space-between;
}
#contact .contact-wrap .contact-cont {
  flex: 1 1 40%;
  text-align: center;
}
#contact .contact-wrap .contact-cont .icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: transparent;
  border: 3px solid #FFF;
  margin: 50px auto;
  position: relative;
}
#contact .contact-wrap .contact-cont .icon i {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
}
#contact .contact-wrap .contact-cont p {
  margin: 50px 0;
  color: #FFF;
}
#contact .contact-wrap .contact-cont:nth-child(3) p {
  display: block;
}
#contact .contact-wrap .contact-cont p.drive {
  display: none;
}
/* CONTACT */

/* 1200px */
@media (max-width: 1200px) {
  html {
    font-size: 16px;
  }
  .container {
    width: 90%;
  }
}

/* 768px */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  /* MAIN */
  #main {
    height: 90vh;
  }
  /* MAIN */

  /* ABOUT ME */
  #about {
    background: #342DDF;
  }
  #about h2 {
    color: #FFF;
  }
  #about .about-wrap {
    display: block;
  }
  #about .about-wrap .about-cont {
    margin: 20px 0;
  }
  #about .about-wrap .about-cont:nth-child(2){
    margin: 0;
  }
  #about .about-wrap .about-cont > div {
    align-items: center;
  }
  /* ABOUT ME */

  /* CONTACT */
  #contact .contact-wrap {
    display: block;
  }
  #contact .contact-wrap .contact-cont {
    display: flex;
    align-items: center;
  }
  #contact .contact-wrap .contact-cont .icon {
    width: 5rem;
    height: 5rem;
    margin: 2.5rem 0;
  }
  #contact .contact-wrap .contact-cont p {
    font-size: 1.2rem;
    margin: 0 0 0 30px;
  }
  #contact .contact-wrap .contact-cont:nth-child(3) p {
    display: none;
  }
  #contact .contact-wrap .contact-cont p.drive {
    display: block;
  }
  /* CONTACT */
}
